photos
<div>
  <div>
    <span *ngIf="!result"><em>Still waiting for photos to load</em></span>
    <div *ngIf="result" class="photo-list">
      <div class="btn-toolbar" role="toolbar">
          
        <div class="btn-group mr-2">
          <div ngbDropdown *ngIf="result.sort_order">
            <button class="btn btn-outline-primary" ngbDropdownToggle>Sort Order</button>
            <div class="dropdown-menu">
              <button class="dropdown-item" [class.active]="result.sort_order == 'asc'" (click)="changeSortOrder('asc')">Ascending</button>
              <button class="dropdown-item" [class.active]="result.sort_order == 'desc'" (click)="changeSortOrder('desc')">Descending</button>
            </div>
          </div>
        </div>

        <div class="btn-group mr-2">
          <div ngbDropdown *ngIf="result.sort_column">
            <button class="btn btn-outline-primary" ngbDropdownToggle>Sort by Column</button>
            <div class="dropdown-menu">
              <button class="dropdown-item" *ngFor="let column of result.sort_columns" [class.active]="column.key == result.sort_column" (click)="changeSortColumn(column.key)">{{ column.title }}</button>
            </div>
          </div>
        </div>

        <div class="btn-group mr-2">
          <div ngbDropdown *ngIf="result.limit">
            <button class="btn btn-outline-primary" ngbDropdownToggle>Photos Per Page</button>
            <div class="dropdown-menu">
              <button class="dropdown-item" *ngFor="let val of result.limits" [class.active]="val == result.limit" (click)="changeLimit(val)">{{ val }}</button>
            </div>
          </div>
        </div>

        <app-photos-paginator [nentries]="result.photos.length" [offset]="result.offset" [limit]="result.limit" [hits]="result.hits" (changePageRequest)="changePageEvent($event)"></app-photos-paginator>
      </div>

      <div class="img-outer" *ngFor="let photo of result.photos">
        <a class="img-block" href="#">
          <div class="img-inner"><img src="{{ photo.thumb_url }}" /></div>
          <div class="img-text"><p>{{ photo.thumb_url }}</p></div>
        </a>
      </div>
    </div>

    <br style="clear: both; " />
  </div>
</div>

