<li ng-show='!node.hidden'>
  <span ng-if="node.collapsed !== null" class='glyphicon' ng-class="{ 'glyphicon-plus': (node.collapsed === true), 'glyphicon-minus': (node.collapsed === false)}"  ng-click="toggle_collapse($event, node)">
    <span class="border"></span>
  </span>
  <span ng-if="node.collapsed === null" class='glyphicon glyphicon-folder-open'>
    <span class="border"></span>
  </span>
  <a class="item" href="" ng-show="node.current !== true" ng-click="selectFunction(node.path)" ><tt>{{ node.name }}</tt></a>
  <span class="item" ng-show="node.current === true"><tt>{{ node.name }}</tt></span>
  <fsnodes ng-show='node' nodes='node.children' select-function="selectFunction"></fsnodes>
</li>
