@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";


/* MAIN */
#content { margin-top: 51px; }




/* FILE OVERVIEW -> FILE TREE */
ul.file-tree, ul.file-tree ul { margin: 0; padding: 0; }
ul.file-tree ul { margin-left: 8px; border-left: 1px black dotted; }
ul.file-tree li { list-style-type: none; padding-left: 4px; margin-left: 0; white-space: nowrap; }
ul.file-tree span.glyphicon { font-size: 0.8em; margin-left: 2px; width: 10px; padding: 0;}
ul.file-tree span.border {
	position: absolute;
	border-bottom: 1px black dotted;
	width: 100%;
	height: 100%;
	margin-left: -16px;
	transform: translateY(-50%);
}
ul.file-tree a.item, ul.file-tree span.item { padding-left: 4px; }


div.options { padding: 10px; }
div.pagination { margin: 0; display: inline-block; }


ul.list-group span.indent { min-width: 14px; margin-right: 20px; background-color: black; }

.list-group-item-xs { padding-top: 3px; padding-bottom: 3px; }

div.photos div.photo-photo { padding: 5px; margin: 5px; }


div.options span.hits { padding-left: 10px; }


div.facet div.panel-heading span.glyphicon { position: relative; top: 3px; margin-left: 5px; }
div.facet div.panel-heading span.glyphicon-remove { float: right; }

div.facet ul.dropdown-menu { display: block; }
div.facet ul.dropdown-menu li.active { background-color: white; font-style: italic; color: white; }
div.facet ul.dropdown-menu li { padding-left: 4px; }
div.facet div.panel { margin-bottom: 0px; }

div.facet-outer.minimized, div.facet-outer.expanded { float: left; margin-top: 10px; width: 25%; clear: left; }
div.facet-outer.detailed, div.photo-list { margin: 0; padding: 0; margin-left: 25%; width: 75%; }

div.row div.header { width: 100%; clear: both; padding: 10px; }

