<!DOCTYPE html>
<html lang="en" ng-app="pm"> <!-- ng-controller="MainCtrl as main">-->
  <head>
    <base href="/l/">
    <meta charset="utf-8">

    <title>photo manager</title>

    <!-- boostrap and friends -->
    <link href="{{ url_for('static', filename='js/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />

  </head>

  <body ng-cloak>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Photos</a>
        </div>

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <!--<li ui-sref-active="{ 'active': 'file-manager' }"><a ui-sref="file-manager.tree">Files</a></li>-->
            <li ui-sref-active="{ 'active': 'photos' }"><a ui-sref="photos({offset: 0, id: null})">Photos</a></li>
            <li><a ui-sref="publishing-manager-overview">Publishing Manager</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Other Pages <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Duplicate File List</a></li>
                <li><a href="#">Error Logs</a></li>
                <li><a href="#">Users</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div id="content" class="container-fluid" ui-view></div>

    <script src="{{ url_for('static', filename='js/angular/angular.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/angular-ui-router/release/angular-ui-router.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap/dist/js/bootstrap.min.js') }}"></script>

    <script src="{{ url_for('static', filename='app.js') }}"></script>
    <script src="{{ url_for('static', filename='main.controllers.js') }}"></script>
    <script src="{{ url_for('static', filename='photos.js') }}"></script>
    <script src="{{ url_for('static', filename='filters.js') }}"></script>
    <script src="{{ url_for('static', filename='directives.js') }}"></script>
    <script src="{{ url_for('static', filename='facets.js') }}"></script>
    <script src="{{ url_for('static', filename='filesystem-directives.js') }}"></script>

  </body>
</html>
