<nav class="navbar navbar-inverse bg-inverse fixed-top navbar-toggleable-md">
  <a class="navbar-brand" href="/">Photo Library</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/photos" routerLinkActive="active">Photos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/albums" routerLinkActive="active">Albums</a>
      </li>
    </ul>
  </div>
</nav>

<div id="content" class="container-fluid">
  <router-outlet></router-outlet>
</div>
