<div class="col-md-3 sidebar">
  <div ng-repeat="(name, options) in facets" class="facet-group">
    <h4>{{ name }}</h4>
    <ul>
      <li ng-repeat="option in options">{{ option.value }} ({{ option.count }})</li>
    </ul>

  </div>

</div>


<div class="col-md-9 main image-list" id="photos">
  <pagination ng-if="photos" offset="offset" limit="limit" change-function="movePage" count="photos.length" hits="hits"></pagination>

  <div ng-repeat="photo in photos">
    <a class="img-block" ui-sref="photos.single({id: photo.id})"> 
      <div class="img-block-inner"><img src="{{ photo.thumb_url }}" /></div>
      <div class="img-block-text"><p>P#{{ photo.id }}</p></div>
    </a>
  </div>

  <pagination ng-if="photos" offset="offset" limit="limit" change-function="movePage" count="photos.length" hits="hits"></pagination>
</div>
