<div class="photo-single">
  <div class="options">
    <div class="btn-group">
      <button ui-sref="photos({id: null})" type="button" class="btn btn-default">Back to search results</button>
    </div>
    <div class="btn-group">
      <button ng-disabled="prev === null" ui-sref="photos(prev)" type="button" class="btn btn-default">Previous Photo</button>
      <button ng-disabled="next === null" ui-sref="photos(next)" type="button" class="btn btn-default">Next Photo</button>
    </div>

    <span class="hits">Photo {{ photo.position+1 }} out of {{ photo.hits }}.</span>

  </div>
  <div class="img-outer">
    <div class="img-block">
      <div class="img-inner"><img src="{{ photo.large_url }}" /></div>
    </div>
  </div>

  <div class="properties">
    <div class="panel panel-default">
      <div class="panel-heading">Properties</div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Property</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="prop in properties">
            <th>{{ prop[1] }}</th>
            <td>{{ prop[2](photo[prop[0]]) }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="people">
    <div class="panel panel-default">
      <div class="panel-heading">People</div>
      <div class="panel-body">
        <form class="form-inline">
          <div class="form-group">
            <label class="sr-only" for="person">Person</label>
            <input type="search" class="form-control" id="person" placeholder="Tag a person in photo">
          </div>
        </form>

        <ul ng-show="photo.people.length > 0">
          <li ng-repeat="person in photo.people">{{ person[0] }} ({{ person[1] }})</li>
        </ul>

        <p ng-show="photo.people.length < 1">No people tagged...</p>
      </div>
    </div>
  </div>

  <div class="labels">
    <div class="panel panel-default">
      <div class="panel-heading">Labels</div>
      <div class="panel-body">
        <form class="form-inline">
          <div class="form-group">
            <label class="sr-only" for="label">Label</label>
            <input type="search" class="form-control" id="label" placeholder="Label photo">
          </div>
        </form>

        <ul ng-show="photo.labels.length > 0">
          <li ng-repeat="label in photo.labels">{{ label[0] }} ({{ label[1] }})</li>
        </ul>

        <p ng-show="photo.labels.length < 1">No labels...</p>
      </div>
    </div>
  </div>

  <br style="clear: both;" /> 

  <div class="files">
    <div class="panel panel-default">
      <div class="panel-heading">Files</div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Filename</th>
            <th>Creation Time</th>
            <th>Scan Time</th>
            <th>Path</th>
            <th>Size</th>
            <th>Hash</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="file in photo.files">
            <td>{{ file.id }}</td>
            <td title="{{ file.basename }}">{{ file.basename|truncate_filename:25 }}</td>
            <td>{{ file.ctime }}</td>
            <td>{{ file.scanned }}</td>
            <td title="{{ file.path | truncate_filepath:120:file.basename }}">{{ file.path | truncate_filepath:40:file.basename }}</td>
            <td>{{ file.size | bytes }}</td>
            <td>{{ file.hash | limitTo:10 }}...</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
</div>
