
/* MAIN */
#content { margin-top: 51px; }



/* FILE OVERVIEW */
#file-overview div.img-expanded-block, .photo-list a.img-block { margin: 5px; background-color: #EEE; padding: 0; display: inline-block; }

/* FILE OVERVIEW -> THUMB BLOCK */
.photo-list div.outer-block {  display: inline-block; width: 280px; height: 300px; }
.photo-list a.img-block { width: 270px; height: 290px;  }
.photo-list a.img-block:hover {  background-color: orange; }
.photo-list a.img-block.expanded { background-color: red; }

.photo-list div.img-block-inner { position: relative; top: 7px; left: 7px; width: 256px; height: 256px; background-color: #CCC; text-align: center; white-space: nowrap; }
.photo-list div.img-block-inner:before { content: ""; display: inline-block; height: 100%; vertical-align: middle; }
.photo-list a.img-block img { vertical-align: middle; background: black; max-width: 256px; max-height: 256px; } 
.photo-list div.img-block-text { margin: 0 7px; margin-top: 7px; height: 20px; }
.photo-list div.img-block-text p { height: 100%; vertical-align: middle; text-align: center; }

/* FILE OVERVIEW -> EXPANDED BLOCK */
#file-overview div.img-expanded-block { clear: both; padding: 7px; white-space: nowrap; min-height: 0px; }
#file-overview div.img-expanded-inner { float: left; }
#file-overview div.img-expanded-attrs { float: left; margin: 0 7px; }
#file-overview div.img-expanded-block hr { height: 0; clear: both; margin: 0; }


/* FILE OVERVIEW -> FILE TREE */
ul.file-tree, ul.file-tree ul { margin: 0; padding: 0; }
ul.file-tree ul { margin-left: 8px; border-left: 1px black dotted; }
ul.file-tree li { list-style-type: none; padding-left: 4px; margin-left: 0; white-space: nowrap; }
ul.file-tree span.glyphicon { font-size: 0.8em; margin-left: 2px; width: 10px; padding: 0;}
ul.file-tree span.border {
	position: absolute;
	border-bottom: 1px black dotted;
	width: 100%;
	height: 100%;
	margin-left: -16px;
	transform: translateY(-50%);
}
ul.file-tree a.item, ul.file-tree span.item { padding-left: 4px; }

/* FILE-OVERVIEW -> PAGINATION */

/* FILE SINGLE */
#file-single div.img-block { margin: 5px background-color: #EEE; }
#file-single div.img-block-inner { padding: 7px; background-color: #CCC; white-space: nowrap; float: left; }
#file-single div.img-properties { clear; both; }



/*
.pagination-nav { text-align: center; }
.pagination-nav .disabled { cursor: not-allowed; }
*/

div.options { padding: 10px; }
div.pagination { margin: 0; display: inline-block; }


ul.list-group span.indent { min-width: 14px; margin-right: 20px; background-color: black; }

.list-group-item-xs { padding-top: 3px; padding-bottom: 3px; }

div.photos div.photo-photo { padding: 5px; margin: 5px; }




div.facet div.panel-heading span.glyphicon { position: relative; top: 3px; margin-left: 5px; }
div.facet div.panel-heading span.glyphicon-remove { float: right; }

div.facet ul.dropdown-menu { display: block; }
div.facet ul.dropdown-menu li.active { background-color: rgba(100, 100, 100, 50); font-style: italic;  color; white; }
div.facet ul.dropdown-menu li { padding-left: 4px; }
div.facet div.panel { margin-bottom: 0px; }

div.facet-outer.minimized, div.facet-outer.expanded { float: left; margin-top: 10px; width: 25%; clear: left; }
div.facet-outer.detailed, div.photo-list { margin: 0; padding: 0; margin-left: 25%; width: 75%; }

div.row div.header { width: 100%; clear: both; padding: 10px; }

div.photo-list { position: relative; }
