
/* IMAGE BLOCKS */
div.photo-list .img-outer { display: inline-block; width: 280px; height: 300px; }
div.photo-list .img-block { background-color: #EEE; padding: 0; display: inline-block; margin: 5px; width: 254px; height: 274px; }
div.photo-list .img-block:hover {  background-color: orange; }
div.photo-list .img-block.expanded { background-color: red; }
div.photo-list .img-inner { position: relative; background-color: #CCC; text-align: center; white-space: nowrap; top: 7px; left: 7px; width: 240px; height: 240px; }
div.photo-list .img-inner:before { content: ""; display: inline-block; height: 100%; vertical-align: middle; }
div.photo-list .img-text { margin: 7px 0px 0 0px; height: 20px; }
div.photo-list .img-text p { height: 100%; vertical-align: middle; text-align: center; overflow: hidden; }
div.photo-list .img-block img { vertical-align: middle; max-width: 240px; max-height: 240px; }

.photo-single .img-outer { display: block; width: 840x; height: 840px; }
.photo-single .img-block { background-color: #EEE; padding: 0; display: inline-block; margin: 5px; width: 814px; height: 814px; }
.photo-single .img-block:hover {  background-color: orange; }
.photo-single .img-block.expanded { background-color: red; }
.photo-single .img-inner { position: relative; background-color: #CCC; text-align: center; white-space: nowrap; top: 7px; left: 7px; width: 800px; height: 800px; }
.photo-single .img-inner:before { content: ""; display: inline-block; height: 100%; vertical-align: middle; }
.photo-single .img-block img { vertical-align: middle; max-width: 800px; max-height: 800px; }


.sidebar {
	position: fixed;
	top: 0:
	bottom: 0;
	left: 0;
	z-index: 100; /* behind the navbar */
	padding: 56px 0 0;
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

[role="main"] { padding-top: 56px; }
