<div class="facet-outer" ng-class="{ 'minimized' : state == 0, 'expanded' : state == 1, 'detailed' : state == 2 }">
  <div class="panel facet" ng-class="{ 'panel-default' : !active, 'panel-primary' : active}">
    <div class="panel-heading">
      <strong>{{ title }}</strong> 
      <em ng-show="active">(active)</em>
      <span ng-show="state == 1" class="glyphicon glyphicon-menu-up" ng-click="state = 0;"> </span> 
      <span ng-show="state == 0" class="glyphicon glyphicon-menu-down" ng-click="state = 1;"> </span>
      <!--<span ng-show="state == 1" class="glyphicon glyphicon-resize-full" ng-click="state = 2;"> </span>-->
      <span ng-show="state == 2" class="glyphicon glyphicon-resize-small" ng-click="state = 1;"> </span>

      <span ng-show="active" class="glyphicon glyphicon-remove" ng-click="clear()"> </span>
    </div>
    <ul class="list-group" ng-if="state == 1">
      <li ng-repeat-start="year in years" class="list-group-item" ng-class="{ active: year.selected }" ng-click="choose(year.value)">
        <span class="glyphicon" ng-class="{ 'glyphicon-minus': year.expanded, 'glyphicon-plus': !year.expanded }"></span>
        {{ year.value }}<span class="badge">{{ year.count }}</span>
      </li>
      <li ng-repeat-start="month in year.months" class="list-group-item" ng-class="{ active: month.selected }" ng-show="year.expanded" ng-click="choose(month.value)">
        <span class="indent"></span>
        <span class="glyphicon" ng-class="{ 'glyphicon-minus': month.expanded, 'glyphicon-plus': !month.expanded }"></span>
        {{ month.value }} <span class="badge">{{ month.count }}</span>
      </li>
      <li ng-repeat-start="day in month.days" class="list-group-item" ng-class="{ active: day.selected }" ng-show="month.expanded" ng-click="choose(day.value)">
        <span class="indent"></span>
        <span class="indent"></span>
        {{ day.value }} <span class="badge">{{ day.count }}</span>
      </li>
      <li style="display: none" ng-repeat-end>endar3</li>
      <li style="display: none" ng-repeat-end>endar2</li>
      <li style="display: none" ng-repeat-end>endar1</li>
      <li class="list-group-item" ng-class="{ active: value == '' }" ng-click="choose('')"><em>Photos without value</em> <span class="badge">{{ null_candidates }}</span></li>
    </ul>
  </div>
</div>
