<div class="facet-outer" ng-class="{ 'minimized' : state == 0, 'expanded' : state == 1, 'detailed' : state == 2 }">
  <div class="panel facet" ng-class="{ 'panel-default' : !active, 'panel-primary' : active}">
    <div class="panel-heading">
      <strong>{{ title }}</strong> 
      <em ng-show="active">(active)</em>
      <span ng-show="state == 1" class="glyphicon glyphicon-menu-up" ng-click="state = 0;"> </span> 
      <span ng-show="state == 0" class="glyphicon glyphicon-menu-down" ng-click="state = 1;"> </span>
      <!--<span ng-show="state == 1" class="glyphicon glyphicon-resize-full" ng-click="state = 2;"> </span>-->
      <span ng-show="state == 2" class="glyphicon glyphicon-resize-small" ng-click="state = 1;"> </span>

      <span ng-show="active" class="glyphicon glyphicon-remove" ng-click="clear()"> </span>
    </div>
    <div class="panel-body" ng-if="state == 1">
      <div class="form-group has-feedback" ng-class="{ 'has-error' : !validObj.valid, 'has-success' : validObj.valid }">
        <input 
          class="form-control" 
          type="text" 
          placeholder="Type path..." 
          ng-model="query" 
          query-function="innerQueryFunction" 
          value="valueObj.value" 
          valid="validObj.valid"
          multi-level="true"
          typeahead 
        />
      </div>
      <p class="help-block">Use <tt>tab</tt> for autocomplete, hit <tt>enter</tt> on green to filter. Click <tt>+</tt> to browse file tree.</p>
    </div>
    <div class="panel-body" ng-if="state == 2">
      <p>Select directory for filtering. <tt>Ctrl</tt>-click will expand tree recursively, choosing the root directory (<tt>/</tt>) will disable filtering.</p>
      <filesystem value="value" select-function="innerSelectFunction"></filesystem>
    </div>
  </div>
</div>
