<div class="facet-group">
  <h4>{{ name }}</h4>
  <ul class="list-group">
    <button class="list-group-item" ng-class="{ active: option.selected }" ng-repeat="option in visible_options" ng-click="filter({value: option.value})">{{ formatter(option.value) }} <span class="badge">{{ option.count }}</span></button>
    <button ng-disabled="!has_more" ng-click="toggle()" class="list-group-item list-group-item-info list-group-item-xs" ng-class="{ disabled: !has_more }">
      <span ng-show="expanded">Less</span><span ng-show="!expanded">More</span> Options
      <span class="glyphicon" ng-class="{ 'glyphicon-menu-down' : !expanded, 'glyphicon-menu-up' : expanded }"></span> 
    </button>
  </ul>
</div>

