<ul class="file-tree">
  <li>
    <span ng-if="node.collapsed !== null" class='glyphicon' ng-class="{ 'glyphicon-plus': (root.collapsed === true), 'glyphicon-minus': (root.collapsed === false)}"  ng-click="toggle_collapse($event, root)"></span>
    <span ng-if="node.collapsed === null" class='glyphicon glyphicon-folder-open'></span>
    <!--<a class="item" ng-if="root.current === false" ui-sref="file-manager.tree({path: '/', offset: 0})"><em>Allt</em></a> -->
    <a class="item" href="" ng-show="root.current === false" ng-click="selectFunction('/')"><tt>/</tt> <em>(root)</em></a> 
    <span class="item" ng-show="root.current === true"><tt>/</tt> <em>(root)</em></span> 
    <fsnodes nodes="root.children" select-function="selectFunction"></fsnodes>
  </li>
</ul>
