<nav class="pagination-nav">
  <!--<pre> {{ offset }} {{ limit }} {{ count }} {{ hits }} {{ disablePrevious }} {{ disableNext }} {{ page }} {{ pages }}</pre>-->

  <ul ng-if="pages.length > 0" class="pagination">
    <li class="previous" ng-class="{ disabled: disablePrevious }">
      <a ng-href="{{ disablePrevious ? '' : switchPage(previous_offset, limit) }}">&laquo;</a>
    </li>
    <li ng-repeat="page in pages" ng-class="{ active: page.current, disabled: !page.seq }">
      <a ng-if="page.seq" ng-href="{{ switchPage(page.offset, limit) }}">{{ page.page }}</a>
      <span ng-if="!page.seq">...</span>
    </li>
    <li class="next" ng-class="{ disabled: disableNext }">
      <a ng-href="{{ disableNext ? '' : switchPage(next_offset, limit) }}">&raquo;</a>
    </li>
  </ul>

  <ul ng-if="pages.length == 0" class="pager">
    <li ng-class="{ disabled: disablePrevious }">
      <a ng-href="{{ disablePrevious ? '' : switchPage(previous_offset, limit) }}"><span aria-hidden="true">&larr;</span> Previous Page</a>
    </li>
    <li ng-class="{ disabled: disableNext }">
      <a ng-href="{{ disableNext ? '' : switchPage(next_offset, limit) }}">Next Page <span aria-hidden="true">&rarr;</span></a>
    </li>
  </ul>
</nav>
