<div class="photo-list">
  <pagination ng-if="photos" offset="offset" limit="limit" move-function="switchPage" items="photos" hits="hits"></pagination>

  <div ng-repeat="photo in photos">
    <a class="img-block" ng-href="{{ singleHref(photo) }}">
      <div class="img-block-inner"><img src="{{ photo.thumb_url }}" /></div>
      <div class="img-block-text"><p>{{ oneliner(photo) }}</p></div>
    </a>
  </div>

  <pagination ng-if="photos" offset="offset" limit="limit" move-function="switchPage" items="photos" hits="hits"></pagination>
</div>
